streamlit

ipykernel

langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface

chromadb
faiss-cpu

pypdf
beautifulsoup4
bs4

python-dotenv
tiktoken

pydantic

Arxiv
wikipedia
