streamlit

ipykernel

langchain==0.2.16
langchain-core0.2.38
langchain-community==0.2.16
langchain-groq
langchain-chroma
langchain-huggingface

chromadb
faiss-cpu

pypdf
beautifulsoup4
bs4

python-dotenv
tiktoken

pydantic

Arxiv
wikipedia
